.main__section{
    width: 100%;
    max-height: 1200px;
    height: 100vh;
}
.main__background{
    background-image: url(./../../images/nsz_bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 1200px;
    height: 100%;
}