.buyer__section{
    margin-top: 5em;
    width: 100%;
    min-height: 900px;
    height: 100%;
    color:#686767;
}
.buyer__section .buyer__description{
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #000;
}
.buyer__section .buyer__description .description{
    width: 1200px;
    font-family: roboto;
    cursor:default;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
}
.buyer__section .buyer__description .list_description{
    padding-left: 3em;
    font-family: roboto;
    cursor:default;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}
.buyer__section .buyer__description .list_description p{
    font-family: roboto-bold;
    font-weight: 900;
    font-size: 24px;
}
.buyer__section .buyer__description .list_description li{
    padding: 1em 1em;
    transition: 1s;
    border-radius: 10px;
}
.active_li{
    transition: 1s background-color;
    background-color: #5981f0;
}
.buyer__section__redirection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
}
.buyer__section__redirection a{
    color: #5981f0;
    font-family: roboto-bold;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    width: 175px;
    display: flex;
    align-items: center;
}
.buyer__section__redirection .arrow_down{
    width: 35px;
    height: 35px;
    background-image: url(./../../images/arrow_down.png);
    background-size: include;
    background-repeat: no-repeat;
    margin-left: 1em;
    animation: move_arrow 1s linear infinite;
}

@keyframes move_arrow{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(0.1em);
    }
    75%{
        transform: translateY(-0.1em);
    }
    100%{
        transform: translateY(0);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
    .buyer__section{
        margin-top: 1em;
        width: 100%;
        min-height: 700px;
        height: 100%;
        color:#686767;
    }
    .buyer__section .buyer__description{
        margin-top: 1em;
        flex-direction: column;
        color: #000;
    }
    .buyer__section .buyer__description .description{
        width: 100%;
        font-size: 18px;
        line-height: 20px;
    }
    .buyer__section .buyer__description .list_description{
        margin-top: 1em;
        padding-left: 0;
        font-size: 18px;
        line-height: 30px;
    }
    .buyer__section__redirection{
        margin-top: 1em;
    }
}