header{
    position: absolute;
    height: 124px;
    width: 100%;
    padding-top: 10px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 18px;
}
.header__container{
    height: 124px;
    width: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}
.logo{
    background-image: url("./../../images/logo_bl.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 153px;
    height: 143px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 3;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 482px;
    height: 22px;
}
.navigation .navLink a{
    cursor: pointer;
    transition: 0.5s;
}
.navigation .navLink a:hover{
    color: #5981f0;
}
.burger_menu{
    display: none;
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #000;
    transition: 1s;
}
.burger_top, .burger_bottom{
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #000;
    transition: 0.5s;
}
.burger_top{
    top: 7px;
}
.burger_bottom{
    top: -7px;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
    header{
        position: absolute;
        height: 124px;
        width: 100%;
        padding-top: 0;
        font-family: Roboto;
        font-weight: 900;
        font-size: 18px;
    }
    .header__container{
        z-index: 10;
        position: fixed;
        transition: 1s;
        transform: translate(90%);
    }
    .logo{
        width: 63px;
        height: 53px;
        margin-left: -7em;
    }
    .navigation{
        margin-right: 1em;
        flex-direction: column;
        width: 30%;
        margin-top: -4em;
    }
    .navigation a{
        color: #000000;
    }
    .burger_menu{
        display: block;
        width: 20px;
        border-radius: 20%;
    }
    .burger_top{
        border-radius: 20%;
        right: 0;
    }
    .burger_bottom{
        border-radius: 20%;
        right: 0;
    }
}
