.history__section{
    margin-top: 30px;
    width: 100%;
    max-height: 1200px;
    height: 100%;
}
.history__legend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #686767;
    text-transform: uppercase;
    font-family: Roboto-bold;
    font-size: 20px;
    font-weight: 900;
}
.history__legend h2{
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s;
}
.legend__active{
    color: #5981f0;
}
.history__slider{
    margin-top: 2em;
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 900px;
    height: 100%;
}
.history__first, .history__second{
    width: 100%;
    max-height: 900px;
    height: 100%;
    transition: 1s;
    position: absolute;
}
.first__img{
    background-image: url("./../../images/nsz_history_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2em;
    height: 90%;
    width: 95%;
}
.history__second{
    transform: translate(100%);
}
.first__description{
    width: 1000px;
    font-family: roboto;
    cursor:default;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    position: absolute;
    top: 3em;
    left: 3em;
    color: #000;
}
.second__description{
    width: 665px;
    font-family: roboto;
    cursor:default;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}
.second__slider{
    width: 100%;
    max-height: 800px;
    height: 100%;
}
.slider__first{
    margin-top: 3em;
    max-height: 600px;
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
}
.video{
    position: absolute;
    left: 0;
    top: 0;
}
.video_first, .video_second, .video_third{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 600px;
    width: 100%;
    height: 100%;
    transition: 1s opacity;
}
.video_second, .video_third{
    z-index: -1;
    opacity: 0;
}
.video_first{
    z-index: 1;
    opacity: 100;
}
.video_first video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}
.video_second video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.video_third video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.descrip_slider{
    position: relative;
    left: 0;
    top: 0;
}
.descrip_slider{
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: roboto-bold;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
}
.description__nav{
    text-align: center;
    cursor: pointer;
    width: 300px;
    color: #686767a6;
}
.description__nav__active{
    color: #5981f0;
    border-bottom: 2px solid #5981f0;
}
.description__nav:nth-child(2){
    width: 430px;
}