.production__section{
    margin-top: 30px;
    width: 100%;
    min-height: 900px;
    height: 100%;
}
.prod__container{
    overflow: hidden;
}
.prod__container h2{
    color: #686767;
    text-transform: uppercase;
    font-family: Roboto-bold;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.all__cards{
    position: relative;
    overflow: hidden;
    margin-top: 3em;
    margin-bottom: 10em;
    /* perspective: 1000; */
    width: 100%;
    min-height: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.all__cards .card{
    transition: 0.5s transform;
    position: absolute;
    width: 1028px;
    height: 525px;
    background-color: #6867674b;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
}
.card .back_img{
    width: 42%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.card:nth-child(1) .back_img{
    background-image: url(./../../images/сода2.jpg);
}
.card:nth-child(2) .back_img{
    background-image: url(./../../images/известь2.jpg);
}
.card:nth-child(3) .back_img{
    background-image: url(./../../images/Гипс2.jpg);
}
.card:nth-child(4) .back_img{
    background-image: url(./../../images/ссс2.jpg);
}
.card:nth-child(5) .back_img{
    background-image: url(./../../images/перлит2.jpg);
}
.card:nth-child(6) .back_img{
    background-image: url(./../../images/гипс_мед2.jpg);
}
.card .descrip{
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descrip .card_h3{
    margin-top: 24px;
    margin-bottom: 74px;
    color: #5981f0;
    text-transform: uppercase;
    font-family: Roboto-bold;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.description_card{
    padding-top: 2em;
    margin-left: 43px;
    height: 350px;
}
.description_card .description_list{
    font-family: Roboto;
    color: #686767;
    font-size: 18px;
    font-weight: 800;
}
.description_list li{
    margin-top: 3em;
    margin-left: 80px;
    cursor: default;
}
.description_list li:nth-child(1){
    margin-top: 0;
}
.description_list li:before{
    content: "";
    position: absolute;
    background-image: url(./../../images/icon_check.png);
    width: 35px;
    height: 35px;
    margin-top: -8px;
    margin-left: -80px;
}
.search__icon{
    background-image: url(./../../images/icon_search.png);
    z-index:200;
    width: 22px;
    height: 28px;
    margin-left: 500px;
    cursor: default;
}
.card__nav{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card__nav .nav{
    cursor: pointer;
    width: 30px;
    border-radius: 50px;
    padding: 2px;
    height: 1px;
    background-color: #68676785;
    transition: 0.5s width;
}
.card__nav .active{
    width: 50px;
    /* transform-origin: center; */
    background-color: #5981f0;
}
.slider_prod{
    width: 100%;
    height: 700px;
    position: absolute;
    margin-top: 7em;
    z-index: 100;
    cursor: pointer;
}